@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --primary-color: #f93408;
    --primary-color-dark: #020202;
    --secondary-color: #ca8a04;
    --text-dark: #3b74c5;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    

}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-image: url(circuit_chip_detail_172735_1600x1200.jpg);
    z-index: 99;
}

.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    transition: .3s;
    font-family: serif;
}

nav .logo a:hover {
    color: wheat
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: .5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: yellow;
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color:wheat;
}

.section {
    height: 100vh;
    width: 100%;
    background-image: url(ball_neon_black_43424_1600x1200.jpg);
    
   
}

.section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: white;
    margin-bottom: 2rem;
}

.action__btns {
    display: flex;
    gap: 1rem;
}

.action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hire__me {
    background-color: var(--primary-color);
    color: #ffffff;
}

.hire__me:hover {
    background-color: var(--primary-color-dark);
}

.portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

.image1{
    display: grid;
    place-items: center;

}

.image1 img {
    width: min(40rem,  70%);
    border-radius: 0%;


}

@media (width < 750px) {
    nav .checkbox {
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    nav #check:checked~ul {
        left: 0;
    }
    ul li a {
        font-size: 1.25rem;
    }
    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .image {
        grid-area: 1/1/2/2;
    }
    .action__btns {
        margin: auto;
    }
}

.pic img {
    width: 30rem;
    height:30rem;
    background-color: var(black);
    border-radius: 10%;
}

.pic:hover {
    position: absolute;
    animation-name: pic;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

.second {
    background-image: url(Screenshot\ \(24\).png);
    height:70vh ;
    width: 100%;
}
  
 /* .image{
 padding-left: 80%;

  }
  .image img {
    width: min(50rem, 50%);
    border-radius: 0%;}*/





.head {
    font-size: 3rem;
    margin-left: 40%;
    color:black;
    
}

.about {
    display: flex;
    justify-content: space-between;
    
}


.text {
    
    color:black;
    margin: 2rem;
    text-align: justify;
    
    
}

@media (width < 750px) {
    .second {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .pic {
        grid-area: 1/1/2/2;
    }
}

.portfolio1 {
    height: 100%;
    width: 100%;
    background-image: url(Screenshot\ \(26\).png);
}

.head1 {
    text-align: center;
    font-size: 2em;
    color: var(--primary-color-dark);
}

.frontend {
    height: 15rem;
    width: 30rem;
    border: 5px solid black;
    border-radius: 10px;
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 1rem;
    background-color: wheat;
    color: black;
    background-size: cover;
}

.x {
    display: grid;
    gap: 2rem;
}

.y {
    display: grid;
    gap: 2rem;
}

.flex1 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 4rem;
}

.html {
    color: #1f2937;
}

.html i {
    color: #1f2937;
}

.contact {
    height: 100vh;
    background-image: url(4k-nature-sunrise-qqnac6fsnpq09r1i.jpg);
}

h2 {
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
}

form {height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 25rem;
    align-items: center;
    justify-content: center;
    
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

.footer {
    height: 40vh;
    background-image: url(beach-sunset-bwvid0licus1pjda.jpg);
    display: flex;
}

.icon a i {
    font-size: 3rem;
    
}

.footern {
    margin: 2rem;
    text-align: center;
}